@charset "utf-8";

/*헤더*/
#header{
    margin-left:200px;
    position:relative;
    display:none;

}
#header.fixed{
    display:block;
    position:fixed;
    z-index: 100;
    right: 5%;   
}
.gnb{
    margin-top:50px;
}

.gnb li{
    margin-bottom:50px;
    margin-left:60px;
    writing-mode:vertical-rl;
}
.gnb li a{color:#666;}
.gnb li:hover a{
    color:#ffcc83;
}


/*footer*/
#footer{
    background:#f1f1f1;
    text-align: center;
    height:50px;
    line-height: 50px;
    font-size:14px;
    position: relative;
}
#footer p{}

